@font-face {
    font-family: 'Score247';
    src: url('/static/fonts/Score247.eot?948xc0');
    src: url('/static/fonts/Score247.eot?948xc0#iefix') format('embedded-opentype'),
        url('/static/fonts/Score247.ttf?948xc0') format('truetype'),
        url('/static/fonts/Score247.woff?948xc0') format('woff'),
        url('/static/fonts/Score247.svg?948xc0#Score247') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}