.league {
    color: white;
    font-weight: bold;
}

.eu {
  background-color: #1a237e;
}

.intl {
    background-color: #4A148C;
}

.as {
    background-color: #BF360C;
}

.am {
    background-color: #1B5E20;
}

.other {
    background-color: #3E2723;
}
