.nav-date {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.8rem 2.2rem;
  border-radius: .4rem .4rem 0 0;
  box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.14), 0 .3rem .2rem -0.5rem rgba(0, 0, 0, 0.2), 0 .1rem .5rem 0 rgba(0, 0, 0, 0.12);   
}

.date-bar {
  > span {
    display: inline-block;
    padding: 0 1rem;
    line-height: 3.3rem;
    color: #9193A1;
    font-size: 1.4rem;
    cursor: pointer;    
    text-transform: capitalize;
  }

  .active {
    color: #3A3B45;    
    border-bottom: 1px solid #3A3B45;
    font-weight: bold;
  }

  .datepicker-wrapper {
    padding: 0 1rem;
    cursor: pointer;

    &.active {
      border-bottom: 0;
    }

    .icon-calendar {
      font-size: 2rem;
      display: inline-block;
      vertical-align: middle;
    }
    
  } 

  @media (max-width: 1024px) {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    > span,
    > .datepicker-wrapper {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      text-align: center;
      padding: 0;
    }

    .icon-calendar{
        line-height: 2.625;
    }
  }
}
