@mixin circle($circleSize) {
  width: $circleSize;
  height: $circleSize;
  border-radius: $circleSize/2;
}

.nav-date {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.8rem 2.2rem;
  
  border-radius: .4rem .4rem 0 0;
  box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.14), 0 .3rem .2rem -0.5rem rgba(0, 0, 0, 0.2), 0 .1rem .5rem 0 rgba(0, 0, 0, 0.12);   

  .mobile & {
    padding: 0;
  }
}

.date-bar {
  .date-item {
    display: inline-block;
    padding: 0 1rem;
    color: #6E707A;
    font-size: 1.4rem;
    cursor: pointer;    
    text-align: center;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
  }

  .days {
    text-transform: uppercase;
  }

  .active {
    color: #3A3B45;    
    border-bottom-color: #3A3B45;
    font-weight: bold;
  }

  .live-score {
    position: relative;
    display: none;

    .mobile & {
      display: inline-block;
    }
  }

  .has-live {
    @include circle(7px);    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(6px);
    background: #FC1923;
    display: block;

    &:before,
    &:after {
      content: "";
      @include circle(7px);
      background-color:#FC1923;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: scale(0.5);
      transform-origin: center center;
      animation: pulse-me 3s linear infinite;
    }

    &:after {
      animation-delay: 2s;
    }
  }

  .icon-live {
    font-size: 2rem;
  }

  .datepicker-wrapper {
    padding: 0 1rem;
    cursor: pointer;

    &.active {
      border-bottom: 0;

      .icon-calendar::before {
        color: #3A3B45;
      }
    }

    .icon-calendar {
      font-size: 2rem;
      display: inline-block;
      vertical-align: middle;
    }    
  } 

  .mobile & {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;  
    
    .icon-live, .icon-calendar {
      display: block;
      height: 4.5rem;
      line-height: 4.5rem;
      border-bottom: 1px solid transparent;
    }

    .days {
      padding-top: 1rem;
      font-size: 1.1rem;
    }

    .date-item, .datepicker-wrapper {    
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      text-align: center;
      padding: 0;      
      vertical-align: middle;
      font-size: .9rem;
    }   
    
    > span {
      line-height: 3.3;
    }
  }
}


@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.09;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}