@import '../../assets/styles//abstracts/variables';
.site-info {
  display: none;
  padding: 2.7rem 0;
  font-size: 1.8rem;

  @media (min-width: 1025px) {
    display: flex;
    justify-content: space-between;
  }

  .selected-sport {
    color: #263E6C;
    font-weight: bold;
    text-transform: capitalize;
  }

  .selected-date {
    text-transform: capitalize;
  }

  .GMT-time {
    color: #3A3B45;
  }
}
