.text-extra {
    font-size: 1rem;
    position: relative;
    color: rgba(0, 0, 0, 0.64);
    border-top: none !important;
    border-left: none !important;
    cursor: pointer;

    .icon-link-match {
        position: absolute;
        left: .8rem;
    }
}

.mobile {
    .text-extra {
        position: relative;

        .icon-link-match {
            position: absolute;
            left: .8rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .extra-match-info {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}