@import '../../../../../assets/styles/abstracts/variables';

.header-top {
  background: $headerBg;
  padding: 1rem 0;
  display: none;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    > img {
      display: inline-block;
      vertical-align: middle;
    }

    .logo-text {
      width: 15rem;
      margin-left: 1rem;
    }
  }

  @media (min-width: 1025px) {
    display: block;
  }
}

.header-top-mobile {
  background: #286093;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .sport-dropdown {
    width: 15rem;
  }
  @media (min-width: 1025px) {
    display: none;
  }
}
