@import '../abstracts/variables';

.btn {
  border: 0;
  border-radius: .4rem;
  text-transform: capitalize;

  &.live-match {
      background: #FD4549;
      color: $white;
      font-size: 1.6rem;
      padding: .8rem 2.5rem;

      @media (max-width: 1199px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
  }
}