@font-face {
    font-family: 'Score247';
    src: url('/static/fonts/Score247.eot?uarmrv');
    src: url('/static/fonts/Score247.eot?uarmrv#iefix') format('embedded-opentype'),
        url('/static/fonts/Score247.ttf?uarmrv') format('truetype'),
        url('/static/fonts/Score247.woff?uarmrv') format('woff'),
        url('/static/fonts/Score247.svg?uarmrv#Score247') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}