[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Score247' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
    content: "\e910";
}
.icon-close:before {
    content: "\e90e";
    color: #c8ceda;
}
.icon-copy-right:before {
    content: "\e90f";
    color: #86888a;
}

.icon-link-match:before {
    content: "\e90d";
    color: #474747;
}

.icon-arrow-right:before {
    content: "\e90b";
}

.icon-penalty:before {
    content: "\e90c";
}

.icon-live:before {
    content: "\e90a";
    color: #9193a1;
}

.icon-esports:before {
    content: "\e900";
}

.icon-basketball:before {
    content: "\e901";
}

.icon-search:before {
    content: "\e902";
    color: #fff;
}

.icon-soccer:before {
    content: "\e903";
}

.icon-calendar:before {
    content: "\e906";
    color: #9193a1;
}

.icon-hambuger:before {
    content: "\e904";
    color: #fff;
}

.icon-menu-tv:before {
    content: "\e905";
    color: #fff;
}

.icon-menu-favorites:before {
    content: "\e907";
}

.icon-menu-leagues:before {
    content: "\e908";
    color: #fff;
}

.icon-menu-news:before {
    content: "\e909";
    color: #fff;
}