.banner-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
    [class*="banner"] {
        padding: 0 .4rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.general-info {
    border-radius: .4rem;
    box-shadow: 0  .1rem .4rem rgba(0, 0, 0, 0.25);
    margin-bottom: .8rem;
}

.extra-info {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    border-bottom: .1rem solid #DEE2E6;
    .league-name, .kick-off-time {
        font-size: 1.4rem;
        color: #000;
    }
    .league-name{
        text-transform: uppercase;
        font-weight: bold;
    }
}

.main-info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0 2.4rem;
    .home-section {
        text-align: right;
    }
    .away-section {
        text-align: left;
    }
    .reference-info {
        position: relative;
        top: .6rem;
    }
    .home-name, .away-name {
        font-size: 2.8rem;
        font-weight: bold;
        color: #000;
        align-self: center;
    }
    .score {
        display: flex;
        flex-direction: column;
        .home-score, .away-score {
            font-size: 6.4rem;
            padding: 0 4rem;
        }
        .status {
            font-size: 1.8rem;
            height: 6.4rem;
            width: 6.4rem;
            border-radius: 50%;
            background-color: #e0e0e0;
            line-height: 6.4rem;
        }
    }
    .full-score {
        display: flex;
        align-items: center;
        align-items: center;
    }
}

.react-tabs {
    height: 4rem;
    background-color: #1B3464;
    .react-tabs__tab-list {
        border-bottom: none;
    }
    .react-tabs__tab {
        padding: 1.2rem;
        border: none;
        bottom: 0;
        color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    .react-tabs__tab--selected {
        border-radius: 0;
        background-color: #122344;
        border-bottom: .1rem solid #E70C12;
    }
}