@import '../../../../../assets/styles//abstracts/variables';

.nav-menu {
  background: $functionBg;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;

  .container {
    display: flex;
    justify-content: space-between;
  }  

  .nav-function {
    text-transform: uppercase;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;

    > i {
      margin-right: 5px;
    }
  }

  .menu-item.active {
    background-color: rgba($color: #000000, $alpha: .12);
  }

  .nav-sports {
    
  }
}

.nav-menu-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #015a96;

  .menu {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    .menu-item {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
      text-align: center;
      padding: 12px 0;
    }
  }

  .menu-item.active {
    background: #3876a7;
  }

  .nav-link {
    color: white;
    text-decoration: none;

    > i {
      display: block;
      margin-bottom: 6px;
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}
