@import "../../../../assets/styles/abstracts/variables";

.header-top {
  background: $headerBg;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    >img {
      display: inline-block;
      vertical-align: middle;
    }

    .logo-text {
      width: 15rem;
      margin-left: 1rem;
    }
  }

  .mobile & {
    display: none;
  }
}

.header-top-mobile {
  background: $headerBg;
  padding: 0.9rem 1.8rem;
  justify-content: space-between;
  align-items: center;
  display: none;

  .icon-hambuger {
    font-size: 1.7rem;
  }

  .icon-search {
    font-size: 2.5rem;
  }

  .sport-dropdown {
    width: 100%;
  }

  .select__control {
    background-color: transparent;
    border: 0;
    min-height: auto;
    justify-content: center;

    &.select__control--is-focused {
      border: 0;
      box-shadow: none;
    }
  }

  .select__value-container {
    padding: 0;
    flex: unset;
  }

  .select__single-value {
    color: #fff;
    position: static;
    margin: 0;
    transform: none;
    font-size: 1.4rem;
    max-width: none;

    i {
      display: none;
    }
  }

  .select__input input {
    font-size: 1.6rem !important;
  }

  .select__indicator {
    padding: 0;

    >svg {
      fill: #ff7d00;
      width: 1.6rem;
    }
  }

  .select__indicator-separator {
    display: none;
  }

  .select__option--is-focused {
    background: none;
  }

  .select__option--is-selected {
    background: none;
    color: $red;
  }

  .select__menu {
    margin-top: 1.1rem;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  .select__menu-list {
    padding: 0;
    background: #fff;
    box-shadow: 0 0.0625em 0.3125em rgba(0, 0, 0, 0.15);
    width: 18rem;
    margin: 0 auto;
  }

  .select__option {
    padding: 1.3rem 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid #dfdfdf;
    }

    i {
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 1rem;
    }
  }

  .mobile & {
    display: flex;
  }
}