@import "../../../assets/styles/theme.scss";

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    background: #F8F9FC;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.wrap-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .container {
    flex: 1;
  }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: 1.2rem;
    padding-left: 1.2rem;

    .mobile & {
      padding-right: 0;
      padding-left: 0;
    }

    @media (min-width: 1200px) {
        max-width: 127.3rem;
    }
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 .5rem 0 #d7d7d7;
    padding: 1rem;
    border-radius: .3rem;
    margin-bottom: .6rem;



    &.h-200 {
        height: 20rem;
    }

    &.h-400 {
        height: 40rem;
    }
}

.login {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .4rem;
    border: 1px solid #fff;
    font-family: "Montserrat";
    font-size: 1.4rem;
    color: #fff;

    &:first-child {
        margin-right: .5rem;
    }
}

.show-mobile {
  display: none !important;

  .mobile & {
    display: block;
  }    
}

.hide-mobile {
    display: block;

    .mobile & {
      display: none;
    }
}

.wrap-content {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;

    .left-container,
    .main-container,
    .right-container {
        flex: 0 0 auto;
        padding-right: .6rem;
        padding-left: .6rem;

        .mobile & {
          padding: 0;
        }
    }

    .left-container {
        flex-basis: 26.7rem;
        max-width: 26.7rem;

        @media (max-width: 1199px) {
          flex-basis: 18rem;
          max-width: 18rem;
        }
    }

    .right-container {
        flex-basis: 29.2rem;
        max-width: 29.2rem;

        @media (max-width: 1199px) {
          flex-basis: 20rem;
          max-width: 20rem;
        }
    }

    .main-container {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .mobile & {
      margin-left: 0;
      margin-right: 0;
    }
}

.banner-big {
    height: 10rem;
}

.banner-small {
    height: 5rem;
}

.content {
    color: #333;
    padding: 1rem;
    box-sizing: border-box;
}

.badge-label {
    background: #ff9f0a;
    padding: 0 .4rem 0 .4rem;
    display: inline-block;
    color: #000;
    border-radius: .2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
    margin-right: .5rem;
}

.menu {
    margin: 0;
    padding: 0;

    .menu-item {
        list-style: none;
        display: inline-block;
        padding: 1.3rem 1.5rem;

        @media (max-width: 1199px) {
          padding-left: .5rem;
          padding-right: .5rem;
        }
    }    
}

.banner {
    .ads-img {
        width: 100%;
    }
}